<a href="https://colab.research.google.com/github/alexisbianco0919/compsci216-project/blob/main/CDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CDA - Clean Data Analysis

## Import and Setup

In [1]:
# import needed libraries
import pandas as pd
import numpy as np
import re

In [ ]:
# download data from merged_data.csv
cd = pd.read_csv('https://raw.githubusercontent.com/alexisbianco0919/compsci216-project/main/clean_data.csv')

# visualize data
cd

      self_employeed    company_size  ...  year  gender_cleaned
0              False          26-100  ...  2016            male
1              False            6-25  ...  2016            male
2              False            6-25  ...  2016            male
3               True             NaN  ...  2016            male
4              False            6-25  ...  2016          female
...              ...             ...  ...   ...             ...
2953           False  More than 1000  ...  2019            male
2954            True             NaN  ...  2019            male
2955            True             NaN  ...  2019            male
2956           False  More than 1000  ...  2019          female
2957           False  More than 1000  ...  2019          female

[2958 rows x 31 columns]