<a href="https://colab.research.google.com/github/alexisbianco0919/compsci216-project/blob/main/MD2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MD2C - Merged Data 2 Clean

## Import and Setup

In [1]:
# import needed libraries
import pandas as pd
import numpy as np
import re

In [2]:
# download data from merged_data.csv
md = pd.read_csv('https://raw.githubusercontent.com/alexisbianco0919/compsci216-project/main/merged_data.csv')

# Drop first column which was a duplicate index column
md.drop(columns=md.columns[0], axis=1, inplace=True)

# visualize data
md

      self_employeed    company_size  ... state_work  year
0                  0          26-100  ...        NaN  2016
1                  0            6-25  ...   Illinois  2016
2                  0            6-25  ...        NaN  2016
3                  1             NaN  ...        NaN  2016
4                  0            6-25  ...   Illinois  2016
...              ...             ...  ...        ...   ...
2953               0  More than 1000  ...        NaN  2019
2954               1             NaN  ...  Louisiana  2019
2955               1             NaN  ...        NaN  2019
2956               0  More than 1000  ...        NaN  2019
2957               0  More than 1000  ...     Oregon  2019

[2958 rows x 30 columns]

## Cleaning Columns
Although 3 people have currently been assigned to clean the columns, I felt it was better to split the colums into 6 sections to avoid the cleaning taking place in such large clusters. Definitely feel free to add more cells in order to have more space for cleaning.

### Cleaning Rows 1-5

In [20]:
# Code
#Self-employed
md['self_employeed'] = md['self_employeed'].astype(bool)

#company size I think is fine as is

#tech_company
md['tech_company'] = md['tech_company'].astype(bool)

#tech_prole
md['tech_prole'] = md['tech_prole'].astype(bool)

#mh_benefits
md['mh_benefits'] = md['mh_benefits'].replace('Not eligible for coverage / N/A', 'Not eligible for coverage / NA').value_counts()

array(["I don't know", 'Yes', nan, 'No'], dtype=object)

### Cleaning Rows 6-10

In [ ]:
# Code

#anonymity I think is fine as is

#

### Cleaning Rows 10-15

In [ ]:
# Code

### Cleaning Rows 16-20

In [ ]:
# Code

### Cleaning Rows 20-25

In [ ]:
# Code

### Cleaning Rows 26-30

In [ ]:
# Code